@{
    ViewData["Title"] = "Ganhadores";
}

<div class="container mt-5">
    <h2>Ganhadores</h2>
    <p>O sorteio será realizado no dia XX/XX/XXXX.</p>
    <p>Confira as regras da rifa abaixo:</p>
    <ul>
        <li>Prêmio 1: ...</li>
        <li>Prêmio 2: ...</li>
        <li>Prêmio 3: ...</li>
    </ul>
</div>
